/* ALL PAGES */

body {
    background-color: #dddddd;
    margin: 0px;
    color: #435560;
}

.nav-menu {
    background-color: #dddddd;
    display: flex;
    height: 40px;
    align-items: center;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar {
    color: #435560;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
}


.nav-bar:visited {
    color: #435560;
    text-decoration: none;
}

.nav-bar:hover {
    color: #a9294f;
    text-decoration: none;
}


/* INDEX PAGE */

.index-title-box,
.blog-title-box {
    margin: 70px auto 0px auto;
    text-align: center;
    width: fit-content;
}

.blog-summary-box {
    margin: 50px auto 0px auto;
    color: #435560;
}

.blog-summary-title,
.blog-summary-date {
    margin: 10px auto 0px auto;
    text-align: center;
}

.index-title--img,
.blog-title--img {
    display: block;
    margin: 0px auto;
    width: 600px;
}

.all-blogs-box,
.blog-content {
    margin: 0px auto;
    width: 600px;
}

.blog-summary-link {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.blog-summary-link:visited {
    color: #435560;
    text-decoration: none;
}

.blog-summary-link:hover {
    color: #a9294f;
    text-decoration: none;
}

/* BLOGPOST PAGE */

.blog-title,
.blog-date {
    color: #435560;
}

.blog-subtitle {
    color: #435560;
    font-style: italic;
}