/* MAIN ELEMENTS */

body {
    background-color: #dddddd;
    color: #435560;
    height: 100%;
    margin: 0px;
    position: relative;
}

.main-container {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 80px;
    /* SPACE FOR FOOTER */
}

/* BARS & BAR ELEMENTS */

.bar {
    align-items: center;
    background-color: #A7B0CF;
    display: flex;
    height: 40px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: #435560;
    text-decoration: none;
}

.link:hover {
    color: #a9294f;
    text-decoration: none;
}

.bar-element {
    color: #435560;
    display: block;
    margin-right: 30px;
    text-decoration: none;
}

.nav-bar {
    justify-content: left;
    overflow: hidden;
    padding-left: 30px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.contact-bar {
    bottom: 0;
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}

.nav-element {
    font-size: 1.5em;
    font-weight: bold;
}

.contact-element {
    font-size: 1em;
    font-weight: lighter;
}

.contact-img {
    display: block;
    height: 18px;
    margin-right: 5px;
}

/* INDEX PAGE */

.index-title-box,
.blog-title-box {
    margin: 70px auto 0px auto;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.blog-summary-box {
    margin: 50px auto 30px auto;
    color: #435560;
}

.blog-summary-title,
.blog-summary-date {
    margin: 10px auto 0px auto;
    text-align: center;
}

.index-title--img,
.blog-title--img,
.all-blogs-box,
.blog-content {
    display: block;
    margin: 0px auto;
    width: 600px;
}

/* BLOGPOST PAGE */

.blog-title,
.blog-date {
    color: #435560;
}

.blog-subtitle {
    color: #435560;
    font-style: italic;
}